.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all var(--transition-smooth);
  width: 360px;
  height: 306px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;

  &:global(.red) {
    background-color: var(--red-bg);
    border-color: var(--red);
  }

  &:global(.yellow) {
    background-color: var(--yellow-bg);
    border-color: var(--yellow);
  }

  &:global(.green) {
    background-color: var(--green-bg);
    border-color: var(--green);
  }
}


.trafficLight {
  background: white;
  height: 144px;
  width: 74px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 10px 0;

  :global(.red) & {
    border-color: var(--red-brd-clr);
  }

  :global(.green) & {
    border-color: var(--green-brd-clr);
  }

  :global(.yellow) & {
    border-color: var(--yellow-brd-clr);
  }
}


.info {
  font-size: 30px;
  font-weight: 300;

  :global(.red) & {
    color: var(--red-brd-clr);
  }

  :global(.green) & {
    color: var(--green-brd-clr);
  }

  :global(.yellow) & {
    color: var(--yellow-brd-clr);
  }
}


.light {
  background: rgba(196, 196, 196, 1);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: auto;
  transition: all var(--transition-smooth);
}

:global(.red) :global(.active) {
  background: var(--red);
  box-shadow: 0px 0px 10px 0px var(--red);
}

:global(.green) :global(.active) {
  background: var(--green);
   box-shadow: 0px 0px 10px 0px var(--green);
}

:global(.yellow) :global(.active) {
  background: var(--yellow);
   box-shadow: 0px 0px 10px 0px var(--yellow);
}